<!DOCTYPE html>
<html lang="en">


<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Paket - CRM</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/static/css/app.min.css">>
    <!-- Template CSS -->
<!--    <link rel="stylesheet" href="/static/bundles/datatables/datatables.min.css">-->
    <link rel="stylesheet" href="/static/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.ico' />
</head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <object th:include="fragment/header :: body" th:remove="tag"/>

        <object th:include="fragment/navbar :: body" th:remove="tag"/>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Paketlar</h4>
                                    <div class="text-right" style="float: right; margin: 5px">
                                        <a th:href="@{/model/internet/create}" class="btn btn-primary">Qo`shish</a>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover" id="datatable" style="width:100%;">
                                            <thead>
                                            <tr>
                                                <th>Nomi</th>
                                                <th>Tasnifi</th>
                                                <th>Amallar</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <object th:include="fragment/footer :: body" th:remove="tag"/>
    </div>
</div>
<!-- General JS Scripts -->
<script src="/static/js/app.min.js"></script>

<!-- JS Libraies -->
<script src="/static/bundles/apexcharts/apexcharts.min.js"></script>
<!-- Page Specific JS File -->
<script src="/static/js/page/index.js"></script>

<!-- Page Specific JS File -->
<script src="/static/bundles/datatables/tables/js/jquery.dataTables.min.js"></script>
<script src="/static/bundles/datatables/tables/js/jquery.spring-friendly.js"></script>
<script src="/static/bundles/datatables/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/static/bundles/datatables/tables/js/datatable-init/datatable-basic.min.js"></script>


<!-- Template JS File -->
<script src="/static/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="/static/js/custom.js"></script>


<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var ajaxRequestLink = [[${url_ajax}]];
    var deleteLink = [[${url_delete}]];
    var labelView = [[#{action.view}]];

    $(document).ready(function () {

        console.log(ajaxRequestLink);
        $('#datatable').DataTable({
            "language": {
                url: "/lang"

            },
            "ajax": ajaxRequestLink,
            "serverSide": true,
            "searching": true,
            "columns": [
                {
                    "data": "paketName",
                    className: "text-center",
                },
                {"data": "info", className: "text-center"},
                {
                    "data": "id",
                    "className": "text-center",
                    "fnCreatedCell": function (data, type, row, meta) {
                        var actionsField = '<a href="' + [[${url_edit}]] + '/' + row.id + '"  class="btn btn-custon-rounded-two btn-primary btn-xs" data-toggle="tooltip" data-original-title="Tahrirlash"><i class="fa fa-pen"></i></a>';
                         $(data).html(actionsField);
                    }, orderable: false, searchable: false
                }
            ],
            "drawCallback": function (settings) {
                $('[data-toggle="tooltip"]').tooltip();
            }
        });
    });

    /*]]>*/
</script>
</body>

</html>