<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Foydalanuvchi - CRM</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/static/css/app.min.css">>
    <!-- Template CSS -->
<!--    <link rel="stylesheet" href="/static/bundles/datatables/datatables.min.css">-->
    <link rel="stylesheet" href="/static/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">
<!--    <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.ico' />-->
</head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <object th:include="fragment/header :: body" th:remove="tag"/>

        <object th:include="fragment/navbar :: body" th:remove="tag"/>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="card">
                                <form class="needs-validation" th:action="${url_action}" method="post" novalidate="" th:object="${user}">
                                    <div class="card-header">
                                        <h4>Foydalanuvchi</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Ismi</label>
                                                    <input type="text" class="form-control" th:field="*{firstname}" required="">
                                                    <div class="invalid-feedback">
                                                        Ismi
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Familiya</label>
                                                    <input type="text" class="form-control" th:field="*{lastname}" required="">
                                                    <div class="invalid-feedback">
                                                        Familiya
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Foydalanuvchi</label>
                                                    <input type="text" th:field="*{username}" class="form-control">
                                                    <div class="valid-feedback">
                                                        Foydalanuvchi
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Role</label>
                                                    <select class="form-control" id="role" name="role" th:field="*{role}">
                                                        <option value="">Role tanlang</option>
                                                        <option th:each="reg :${roles}"
                                                                th:value="${reg}"
                                                                th:text="${reg}">
                                                        </option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Role tanlang
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Filial</label>
                                                    <select class="form-control" id="branch" name="branch" th:field="*{branchId}">
                                                        <option value="">Filialni tanlang</option>
                                                        <option th:each="bra :${branches}"
                                                                th:value="${bra.id}"
                                                                th:text="${bra.branchName}">
                                                        </option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Filialni tanlang
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Parol</label>
                                                    <input type="password" class="form-control" name="password" required="">
                                                    <div class="invalid-feedback">
                                                        Parol
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Qayta parol</label>
                                                    <input type="password" class="form-control" name="password-confirm" required="">
                                                    <div class="invalid-feedback">
                                                        Qayta parol
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" th:field="*{id}"/>
                                    <div class="card-footer text-right">
                                        <a th:href="${url_cancel}" class="btn btn-primary">
                                            <i class="fa fa-times"></i> <span>Bekor qilish</span>
                                        </a>
                                        <button class="btn btn-primary" type="submit">Saqlash</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <object th:include="fragment/footer :: body" th:remove="tag"/>
    </div>
</div>
<!-- General JS Scripts -->
<script src="/static/js/app.min.js"></script>

<!-- JS Libraies -->
<!--<script src="/static/bundles/apexcharts/apexcharts.min.js"></script>-->
<!-- Page Specific JS File -->
<script src="/static/js/page/index.js"></script>

<!-- Page Specific JS File -->
<script src="/static/bundles/datatables/tables/js/jquery.dataTables.min.js"></script>
<script src="/static/bundles/datatables/tables/js/jquery.spring-friendly.js"></script>
<script src="/static/bundles/datatables/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/static/bundles/datatables/tables/js/datatable-init/datatable-basic.min.js"></script>


<!-- Template JS File -->
<script src="/static/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="/static/js/custom.js"></script>


<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var ajaxRequestLink = [[${url_ajax}]];
    var deleteLink = [[${url_delete}]];
    var labelView = [[#{action.view}]];
    $(document).ready(function () {
        $("#branch").hide();
        console.log("hiden");
        $("#role").change(function(){
            if ( $("#role option:selected").val() ==='BRANCH') {
                $("#branch").fadeIn();
            }
            else if ( $("#role option:selected").val() ==='ADMINISTRATOR') {
                $("#branch").hide();
            }
            else {
                $("#branch").hide();
            }
        });
    });


    /*]]>*/
</script>
</body>

</html>