<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Filiallar - CRM</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/static/css/app.min.css">>
    <!-- Template CSS -->
<!--    <link rel="stylesheet" href="/static/bundles/datatables/datatables.min.css">-->
    <link rel="stylesheet" href="/static/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.ico' />
</head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <object th:include="fragment/header :: body" th:remove="tag"/>

        <object th:include="fragment/navbar :: body" th:remove="tag"/>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">
                    <div class="row clearfix" sec:authorize="hasAnyAuthority('ADMINISTRATOR')">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Daromadlar</h4>
                                </div>
                                <div class="card-body">
                                    <div id="echart_graph_line" class="chartsh"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Hisobotlar</h4>
                                    <div class="text-right" style="float: right; margin: 5px">
                                        <a th:href="@{/model/paynet/create}" class="btn btn-primary">Qo`shish</a>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover" id="datatable" style="width:100%;">
                                            <thead>
                                            <tr>
                                                <th>Filial</th>
                                                <th>Hudud</th>
                                                <th>Reja</th>
                                                <th>Fakt</th>
                                                <th>Qarzdorlik</th>
                                                <th>Amallar</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>Filial</th>
                                                <th>Hudud</th>
                                                <th>Reja</th>
                                                <th>Fakt</th>
                                                <th>Qarzdorlik</th>
                                                <th>Amallar</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <object th:include="fragment/footer :: body" th:remove="tag"/>
    </div>
</div>
<!-- General JS Scripts -->
<script src="/static/js/app.min.js"></script>
<!-- JS Libraies -->
<script src="/static/bundles/echart/echarts.js"></script>
<!-- Page Specific JS File -->
<script src="/static/js/page/chart-echarts.js"></script>
<!-- JS Libraies -->
<script src="/static/bundles/apexcharts/apexcharts.min.js"></script>
<!-- Page Specific JS File -->
<script src="/static/js/page/index.js"></script>

<!-- Page Specific JS File -->

<script src="/static/bundles/datatables/tables/js/jquery.dataTables.min.js"></script>
<script src="/static/bundles/datatables/tables/js/jquery.spring-friendly.js"></script>
<script src="/static/bundles/datatables/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/static/bundles/datatables/tables/js/datatable-init/datatable-basic.min.js"></script>


<!-- Template JS File -->
<script src="/static/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="/static/js/custom.js"></script>


<script type="text/javascript" sec:authorize="hasAnyAuthority('ADMINISTRATOR')" th:inline="javascript">
    /*<![CDATA[*/

    var ajaxRequestLink = [[${url_ajax}]];
    var deleteLink = [[${url_delete}]];
    var labelView = [[#{action.view}]];
    var viewModalLink = [[${url_view_modal}]];
    function showCardTInfo(id) {
        showModal(id, viewModalLink);
    }
    $(document).ready(function () {

        console.log(ajaxRequestLink);
        $('#datatable').DataTable({
            "language": {
                url: "/lang"

            },
            "ajax": ajaxRequestLink,
            "serverSide": true,
            "searching": true,
            "columns": [
                {
                    "data": "branch.branchName",
                    className: "text-center",
                },
                {"data": "branch.region.regionName", className: "text-center"},
                {"data": "plan", className: "text-center"},
                {"data": "fact", className: "text-center"},
                {"data": "debt", className: "text-center"},
                {
                    "data": "id",
                    "className": "text-center",
                    "fnCreatedCell": function (data, type, row, meta) {
                        var actionsField = '<a href="' + [[${url_edit}]] + '/' + row.id + '"  class="btn btn-custon-rounded-two btn-primary btn-xs" data-toggle="tooltip" data-original-title="Tahrirlash"><i class="fa fa-pen"></i></a>';
                        // actionsField += ' <a href="#" class="btn btn-custon-rounded-two btn-warning btn-xs" data-toggle="tooltip" data-original-title="Foydalanuvchi qo`shish" onclick="showCardTInfo(' + row.id + ')" ><i class="fa fa-2x fa-user-plus"></i></a>';
                        $(data).html(actionsField);
                    }, orderable: false, searchable: false
                }
            ],

            "footerCallback": function(row, data, start, end, display) {
                var api = this.api(),
                    data;

                // Remove the formatting to get integer data for summation
                var intVal = function(i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$a-zA-Z, ]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                var cols = [2, 3, 4]; // your columns position will come in this array

                for (let index = 0; index < cols.length; index++) {
                    var col_data = cols[index];
                    // Total over all pages
                    total = api
                        .column(col_data)
                        .data()
                        .reduce(function(a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(col_data, {
                            page: 'current'
                        })
                        .data()
                        .reduce(function(a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(col_data).footer()).html(
                        'Total: ' + pageTotal + ' ( GrandTotal: ' + total + ' )'
                    );
                }

            }
        });




        /* Bar Graph */
        var chart = document.getElementById('echart_graph_line');
        var barChart = echarts.init(chart);

        var nameAll = [[${names}]];
        var currentDate = [[${plans}]];
        var counterData = [[${facts}]];
        barChart.setOption({
            tooltip: {
                trigger: "axis"
            },
            legend: {
                textStyle: { color: '#9aa0ac' },
                data: nameAll
            },
            toolbox: {
                show: !1
            },
            calculable: !1,
            xAxis: [{
                type: "category",
                data: nameAll,
                axisLabel: {
                    fontSize: 10,
                    color: '#9aa0ac'
                }
            }],
            yAxis: [{
                type: "value",
                axisLabel: {
                    fontSize: 10,
                    color: '#9aa0ac'
                }
            }],
            series: [{
                name: "sales",
                type: "bar",
                data: counterData,
                markPoint: {
                    data: [{
                        type: "max",
                        name: "???"
                    }, {
                        type: "min",
                        name: "???"
                    }]
                },
                markLine: {
                    data: [{
                        type: "average",
                        name: "???"
                    }]
                }
            }],
            color: ['#9f78ff', '#32cafe']

        });
    });

    /*]]>*/
</script>

<script type="text/javascript" sec:authorize="hasAnyAuthority('BRANCH')" th:inline="javascript">
    /*<![CDATA[*/

    var ajaxRequestLink = [[${url_ajax}]];
    var deleteLink = [[${url_delete}]];
    var labelView = [[#{action.view}]];
    var viewModalLink = [[${url_view_modal}]];
    function showCardTInfo(id) {
        showModal(id, viewModalLink);
    }
    $(document).ready(function () {

        console.log(ajaxRequestLink);
        $('#datatable').DataTable({
            "language": {
                url: "/lang"

            },
            "ajax": ajaxRequestLink,
            "serverSide": true,
            "searching": true,
            "columns": [
                {
                    "data": "branch.branchName",
                    className: "text-center",
                },
                {"data": "branch.region.regionName", className: "text-center"},
                {"data": "plan", className: "text-center"},
                {"data": "fact", className: "text-center"},
                {"data": "debt", className: "text-center"},
                {
                    "data": "id",
                    "className": "text-center",
                    "fnCreatedCell": function (data, type, row, meta) {
                        var actionsField = '<a href="' + [[${url_edit}]] + '/' + row.id + '"  class="btn btn-custon-rounded-two btn-primary btn-xs" data-toggle="tooltip" data-original-title="Tahrirlash"><i class="fa fa-pen"></i></a>';
                        // actionsField += ' <a href="#" class="btn btn-custon-rounded-two btn-warning btn-xs" data-toggle="tooltip" data-original-title="Foydalanuvchi qo`shish" onclick="showCardTInfo(' + row.id + ')" ><i class="fa fa-2x fa-user-plus"></i></a>';
                        $(data).html(actionsField);
                    }, orderable: false, searchable: false
                }
            ],

            "footerCallback": function(row, data, start, end, display) {
                var api = this.api(),
                    data;

                // Remove the formatting to get integer data for summation
                var intVal = function(i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$a-zA-Z, ]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                var cols = [2, 3, 4]; // your columns position will come in this array

                for (let index = 0; index < cols.length; index++) {
                    var col_data = cols[index];
                    // Total over all pages
                    total = api
                        .column(col_data)
                        .data()
                        .reduce(function(a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(col_data, {
                            page: 'current'
                        })
                        .data()
                        .reduce(function(a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(col_data).footer()).html(
                        'Total: ' + pageTotal + ' ( GrandTotal: ' + total + ' )'
                    );
                }

            }
        });

    });

    /*]]>*/
</script>

</body>

</html>