<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Xizmat - CRM</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/static/css/app.min.css">>
    <!-- Template CSS -->
<!--    <link rel="stylesheet" href="/static/bundles/datatables/datatables.min.css">-->
    <link rel="stylesheet" href="/static/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">
<!--    <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.ico' />-->
</head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <object th:include="fragment/header :: body" th:remove="tag"/>

        <object th:include="fragment/navbar :: body" th:remove="tag"/>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <form class="needs-validation" th:action="${url_action}" method="post" novalidate="" th:object="${service}">
                                <div class="card-header">
                                    <h4>Xizmat</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Telefon raqami</label>
                                                <input type="text" class="form-control purchase-code" placeholder="998-90-123-45-67" th:field="*{phonenumber}" required="">
                                                <div class="invalid-feedback">
                                                    Telefon raqam
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Operatorni tanlang</label>
                                                <select class="form-control" id="operator" name="operator" required="" th:field="*{operatorId}">
                                                    <option value="">Operatorni tanlang</option>
                                                    <!--                                                        <option th:each="cat :${operators}"-->
                                                    <!--                                                                th:value="${cat.id}"-->
                                                    <!--                                                                th:text="${cat.operatorName}">-->
                                                    <!--                                                        </option>-->
                                                    <option th:each="oper : ${operators}" th:value="${oper.id}"
                                                            th:text="${oper.operatorName}"
                                                            th:selected="${service.operatorId==oper.id}"></option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Operatorni tanlang
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Ulangan kuni</label>
                                                <input type="date" th:field="*{enabledAt}" required="" class="form-control">
                                                <div class="valid-feedback">
                                                    Ulangan kuni
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label> Internet Paket</label>
                                                <select class="form-control" id="internets" required="" name="internets" th:field="*{internetId}">
                                                    <option value="">Paketni tanlang</option>
                                                    <!--                                                        <option th:each="tar :${tarifs}"-->
                                                    <!--                                                                th:value="${tar.id}"-->
                                                    <!--                                                                th:text="${tar.tarifName}">-->
                                                    <!--                                                        </option>-->
                                                    <option th:each="inter : ${internets}" th:value="${inter.id}"
                                                            th:text="${inter.paketName}"
                                                            th:class="${'sr-'+inter.operator.id}"
                                                            th:selected="${service.internetId==inter.id}"></option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Paketni tanlang
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Ismi</label>
                                            <input type="text" th:field="*{abonentFirstName}" required="" class="form-control">
                                            <div class="valid-feedback">
                                                Ismi
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Familiya</label>
                                            <input type="text" th:field="*{abonentLastName}" required="" class="form-control">
                                            <div class="valid-feedback">
                                                Familiya
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Tug'ilgan kuni</label>
                                            <input type="date" th:field="*{birthdate}" required="" class="form-control">
                                            <div class="valid-feedback">
                                                Tug'ilgan kuni
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Yashash manzili</label>
                                            <select class="form-control" id="region" name="region" required="" th:field="*{regionId}">
                                                <option value="">Yashash manzili</option>
                                                <option th:each="reg :${regions}"
                                                        th:value="${reg.id}"
                                                        th:text="${reg.regionName}">
                                                </option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Yashash manzilini tanlang
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" th:field="*{id}"/>
                                    <div class="card-footer text-right">
                                        <a th:href="${url_cancel}" class="btn btn-primary">
                                            <i class="fa fa-times"></i> <span>Bekor qilish</span>
                                        </a>
                                        <button class="btn btn-primary" type="submit">Saqlash</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <object th:include="fragment/footer :: body" th:remove="tag"/>
    </div>
</div>
<!-- General JS Scripts -->
<script src="/static/js/app.min.js"></script>

<!-- JS Libraies -->
<script src="/static/bundles/cleave-js/dist/cleave.min.js"></script>
<script src="/static/bundles/cleave-js/dist/addons/cleave-phone.us.js"></script>
<script src="/static/js/page/forms-advanced-forms.js"></script>
<script src="/static/bundles/apexcharts/apexcharts.min.js"></script>
<!-- Page Specific JS File -->
<script src="/static/js/page/index.js"></script>

<!-- Page Specific JS File -->
<script src="/static/bundles/datatables/tables/js/jquery.dataTables.min.js"></script>
<script src="/static/bundles/datatables/tables/js/jquery.spring-friendly.js"></script>
<script src="/static/bundles/datatables/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/static/bundles/datatables/tables/js/datatable-init/datatable-basic.min.js"></script>


<!-- Template JS File -->
<script src="/static/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="/static/js/custom.js"></script>


<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    function bindTarifSelectToOperatorSelect(paketSelector, operatorSelector) {
        $(operatorSelector).change(function(){
            var operatorId = $(this).val();
            var trSelector = $(paketSelector);
            trSelector.find('option').hide();
            trSelector.find('option:first').show();

            if(operatorId != '' && operatorId != null) {
                trSelector.find('.sr-' + operatorId).show();
            }else{
                trSelector.find('option:first').prop("selected", true);
                trSelector.change();
            }

            var selected = trSelector.find('option:selected');
            if(
                selected.length>0 &&
                selected.attr('class') != undefined &&
                selected.attr('class').length>3 &&
                (selected.attr('class').substr(3)!=operatorId)
            ) {
                selected.prop("selected", false);
                trSelector.find('option:first').prop("selected", true);
                trSelector.change();
            }
            //srSelector.val('');
        });
        $(operatorSelector).change();
    }

    $(document).ready(function () {

        bindTarifSelectToOperatorSelect('#internets', '#operator');
    });
    /*]]>*/
</script>

</body>

</html>