<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="body">
<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="/admin/dashboard"><span
              class="logo-name">CRMLAB</span>
      </a>
    </div>
    <ul class="sidebar-menu">
      <li class="menu-header">Asosiy</li>
      <li class="dropdown">
        <a th:href="@{/admin/dashboard}" class="nav-link"><i data-feather="monitor"></i><span>Asosiy</span></a>
      </li>
<!--      <li class="dropdown">-->
<!--        <a th:href="@{/model/region/list}" class="nav-link"><i data-feather="map-pin"></i><span>Hududlar</span></a>-->
<!--      </li>-->
<!--      <li class="dropdown">-->
<!--        <a th:href="@{/model/branch/list}" class="nav-link"><i data-feather="git-merge"></i><span>Filiallar</span></a>-->
<!--      </li>-->
<!--      <li class="dropdown">-->
<!--        <a th:href="@{/model/oper/list}" class="nav-link"><i data-feather="command"></i><span>Operatorlar</span></a>-->
<!--      </li>-->
<!--      <li class="dropdown">-->
<!--        <a th:href="@{/model/user/list}" class="nav-link"><i data-feather="user-plus"></i><span>Foydalanuvchilar</span></a>-->
<!--      </li>-->
      <li class="dropdown">
        <a th:href="@{/model/simcard/list}" class="nav-link"><i data-feather="clipboard"></i><span>Simkarta</span></a>
      </li>
      <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i
                data-feather="briefcase"></i><span>Xizmatlar</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" th:href="@{/model/sservice/list}">SMS ximzatlar</a></li>
          <li><a class="nav-link" th:href="@{/model/iservice/list}">Internet xizmatlar</a></li>
        </ul>
      </li>
      <li class="dropdown" sec:authorize="hasAnyAuthority('ADMINISTRATOR')">
        <a th:href="@{/model/paynet/list}" class="nav-link"><i data-feather="file-minus"></i><span>Paynet</span></a>
      </li>
      <li class="dropdown">
        <a th:href="@{/model/store/list}" class="nav-link"><i data-feather="activity"></i><span>Aksessuarlar</span></a>
      </li>
      <li class="dropdown" sec:authorize="hasAnyAuthority('ADMINISTRATOR')">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i
                data-feather="briefcase"></i><span>Operator</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" th:href="@{/model/oper/list}">Operatorlar</a></li>
          <li><a class="nav-link" th:href="@{/model/tarif/list}">Tariflar</a></li>
          <li><a class="nav-link" th:href="@{/model/sms/list}">SMS Paketlar</a></li>
          <li><a class="nav-link" th:href="@{/model/internet/list}">Internet Paketlar</a></li>
        </ul>
      </li>
      <li class="dropdown" sec:authorize="hasAnyAuthority('ADMINISTRATOR')">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i
                data-feather="briefcase"></i><span>Tizim</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" th:href="@{/model/region/list}">Hududlar</a></li>
          <li><a class="nav-link" th:href="@{/model/branch/list}">Filiallar</a></li>
          <li><a class="nav-link" th:href="@{/admin/user/list}">Foydalanuvchilar</a></li>
        </ul>
      </li>


    </ul>
  </aside>
</div>

</body>
</html>