<!DOCTYPE html>
<html lang="en">
<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>CRM</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/static/css/app.min.css">>
    <!-- Template CSS -->
<!--    <link rel="stylesheet" href="/static/bundles/datatables/datatables.min.css">-->
    <link rel="stylesheet" href="/static/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">
<!--    <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.ico' />-->
</head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <object th:include="fragment/header :: body" th:remove="tag"/>

        <object th:include="fragment/navbar :: body" th:remove="tag"/>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Bugun ulandi</h4>
                                </div>
                                <div class="card-body">
                                    <div id="echart_pie" class="chartsh"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Oxirgi oyda ulanganlar</h4>
                                </div>
                                <div class="card-body">
                                    <div id="echart_graph_line" class="chartsh"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Simkartalar</h4>
                                    <div class="text-right" style="float: right; margin: 5px">
                                        <a th:href="@{/model/simcard/create}" class="btn btn-primary">Qo`shish</a>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover" id="datatable" style="width:100%;">
                                            <thead>
                                            <tr>
                                                <th>Operator</th>
                                                <th>Ismi</th>
                                                <th>Familiya</th>
                                                <th>Telefon</th>
<!--                                                <th>Tarif</th>-->
                                                <th>Ulangan sana</th>
                                                <th>Tug'ilgan sana</th>
                                                <th>Amallar</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
<!--                                            <tfoot>-->
<!--                                            <tr>-->
<!--                                                <th>Ismi</th>-->
<!--                                                <th>Familiya</th>-->
<!--                                                <th>Telefon</th>-->
<!--                                                <th>Operator</th>-->
<!--                                                <th>Amallar</th>-->
<!--                                            </tr>-->
<!--                                            </tfoot>-->
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <object th:include="fragment/footer :: body" th:remove="tag"/>
    </div>
</div>
<!-- General JS Scripts -->
<script src="/static/js/app.min.js"></script>
<!-- Page Specific JS File -->
<!--<script src="/static/js/page/chart-apexcharts.js"></script>-->
<!-- JS Libraies -->
<!--<script src="/static/bundles/apexcharts/apexcharts.min.js"></script>-->
<!-- JS Libraies -->
<script src="/static/bundles/echart/echarts.js"></script>
<!-- Page Specific JS File -->
<script src="/static/js/page/chart-echarts.js"></script>
<!-- Page Specific JS File -->
<script src="/static/bundles/datatables/tables/js/jquery.dataTables.min.js"></script>
<script src="/static/bundles/datatables/tables/js/jquery.spring-friendly.js"></script>
<script src="/static/bundles/datatables/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/static/bundles/datatables/tables/js/datatable-init/datatable-basic.min.js"></script>

<!-- Template JS File -->
<script src="/static/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="/static/js/custom.js"></script>


<script type="text/javascript" th:inline="javascript">


    var ajaxRequestLink = [[${url_ajax}]];
    var deleteLink = [[${url_delete}]];
    var labelView = [[#{action.view}]];


    var colors = [[${colors}]];

    /* Bar chart */

    function renderDateAndTimeColumn(data) {
        var date = new Date(data);
        date = date.toISOString().replace('T', ' ').replace('Z', '');
        return date.split(' ')[0];
    }
    $(document).ready(function () {

        /* Pie Chart */
        var chart = document.getElementById('echart_pie');
        var barChart = echarts.init(chart);

        var counters = [[${counters}]];
        var names = [[${names}]];
        var items = counters.map((id, index) => {
            return {
                value: id,
                name: names[index]
            }
        });
        barChart.setOption({
            tooltip: {
                trigger: "item",
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                x: "center",
                y: "bottom",
                textStyle: { color: '#9aa0ac' },
                data: names
            },

            calculable: !0,
            series: [{
                name: "Abonentlar",
                type: "pie",
                radius: "55%",
                center: ["50%", "48%"],
                data: items
            }],
            color: colors
        });

        /* Bar Graph */
        var chart = document.getElementById('echart_graph_line');
        var barChart = echarts.init(chart);

        var nameAll = [[${names_data}]];
        var currentDate = [[${date}]];
        var counterData = [[${counter_data}]];
        barChart.setOption({
            tooltip: {
                trigger: "axis"
            },
            legend: {
                textStyle: { color: '#9aa0ac' },
                data: nameAll
            },
            toolbox: {
                show: !1
            },
            calculable: !1,
            xAxis: [{
                type: "category",
                data: nameAll,
                axisLabel: {
                    fontSize: 10,
                    color: '#9aa0ac'
                }
            }],
            yAxis: [{
                type: "value",
                axisLabel: {
                    fontSize: 10,
                    color: '#9aa0ac'
                }
            }],
            series: [{
                name: "sales",
                type: "bar",
                data: counterData,
                markPoint: {
                    data: [{
                        type: "max",
                        name: "???"
                    }, {
                        type: "min",
                        name: "???"
                    }]
                },
                markLine: {
                    data: [{
                        type: "average",
                        name: "???"
                    }]
                }
            }],
            color: ['#9f78ff', '#32cafe']

        });
        // $('#datatable tfoot th').each( function () {
        //     var title = $(this).text();
        //     $(this).html( '<input type="text" class="form-control" placeholder="'+title+' Search" />' );
        // } );
        $('#datatable thead th').each(function () {
            var title = $(this).text();
            $(this).html(title+' <input type="text" class="form-control" placeholder="' + title + 'ni qidirish" />');
        });


        console.log(ajaxRequestLink);
        var datatableInstance = $('#datatable').DataTable({
            "language": {
                url: "/lang"

            },
            "ajax": ajaxRequestLink,
            "processing": true,
            "serverSide": true,
            "searching": true,
            "columns": [
                {"data": "operator.operatorName", className: "text-center"},
                {
                    "data": "abonentFirstName",
                    className: "text-center",
                },
                {"data": "abonentLastName", className: "text-center"},
                {"data": "phonenumber", className: "text-center"},
                // {"data": "tarif.tarifName", className: "text-center"},
                {"data": "enabledAt", className: "text-center", render: renderDateAndTimeColumn},
                {"data": "birthdate", className: "text-center", render: renderDateAndTimeColumn},
                {
                    "data": "id",
                    "className": "text-center",
                    "fnCreatedCell": function (data, type, row, meta) {
                        var actionsField = '<a href="' + [[${url_edit}]] + '/' + row.id + '"  class="btn btn-custon-rounded-two btn-primary btn-xs" data-toggle="tooltip" data-original-title="Tahrirlash"><i class="fa fa-pen"></i></a>';
                         $(data).html(actionsField);
                    }, orderable: false, searchable: false
                }
            ],
            "drawCallback": function (settings) {
                $('[data-toggle="tooltip"]').tooltip();
            },
            initComplete: function() {
                var api = this.api();

                // Apply the search
                api.columns().every(function() {
                    var that = this;

                    $('input', this.header()).on('keyup change', function() {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            }
        });

// // Apply the search
//         datatableInstance.columns().every( function () {
//             var that = this;
//
//             $( 'input', this.footer() ).on( 'keyup change cleart', function () {
//                 if ( that.search() !== this.value ) {
//                     console.log(that.search());
//                     that
//                         .search( this.value )
//                         .draw();
//                 }
//             } );
//         } );


    });

</script>
</body>

</html>