<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>CRMLAB - CRM system</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="/static/css/app.min.css">
  <link rel="stylesheet" href="/static/bundles/bootstrap-social/bootstrap-social.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.ico' />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card card-primary">
              <div class="card-header">
                <h4>Kirish</h4>
              </div>
              <div class="card-body">
                <form method="POST" th:action="@{/login}" class="needs-validation" novalidate="">
                  <div class="form-group">
                    <label for="username">Foydalanuvchi</label>
                    <input id="username" type="text" class="form-control" name="username" tabindex="1" required autofocus>
                  </div>
                  <div class="form-group">
                    <div class="d-block">
                      <label for="password" class="control-label">Parol</label>
                    </div>
                    <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                  </div>
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Login
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="mt-5 text-muted text-center">
              Akkountingiz yo'qmi <a th:href="@{/register}">Ro'yxatdan o'ting</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- General JS Scripts -->
  <script src="/static/js/app.min.js"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="/static/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/static/js/custom.js"></script>
</body>


</html>