<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Items</title>
</head>
<body>
<div class=" container text-center">
<h1>Item List</h1>
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
               <th>Id</th>
               <th>Name</th>
               <th></th>
            </tr>
            </thead>
            <tbody>
               <th:block th:each="item : ${listitem}">

                   <tr>
                       <td th:text="${item.id}"></td>
                       <td th:text="${item.name}"></td>

                       <td>
                           <a th:href="@{'/item/edit/' + ${item.id}}">Edit</a>
                           &nbsp:
                           <a th:href="@{'/item/delete/' + ${item.id}}">Delete</a>
                       </td>
                   </tr>

               </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>