<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Operator - CRM</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/static/css/app.min.css">>
    <!-- Template CSS -->

    <link rel="stylesheet" href="/static/bundles/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
<!--    <link rel="stylesheet" href="/static/bundles/datatables/datatables.min.css">-->
    <link rel="stylesheet" href="/static/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.ico' />
</head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <object th:include="fragment/header :: body" th:remove="tag"/>

        <object th:include="fragment/navbar :: body" th:remove="tag"/>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="card">
                                <form class="needs-validation" th:action="${url_action}" method="post" novalidate="" th:object="${operator}">
                                    <div class="card-header">
                                        <h4>Operator</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Operator nomi</label>
                                                    <input type="text" class="form-control" th:field="*{operatorName}" required="">
                                                    <div class="invalid-feedback">
                                                        Operator nomi
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Operator rangi</label>
                                                    <input type="text" th:field="*{color}" class="form-control colorpickerinput colorpicker-element" data-colorpicker-id="1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" th:field="*{id}"/>
                                    <div class="card-footer text-right">
                                        <a th:href="${url_cancel}" class="btn btn-primary">
                                            <i class="fa fa-times"></i> <span>Bekor qilish</span>
                                        </a>
                                        <button class="btn btn-primary" type="submit">Saqlash</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <object th:include="fragment/footer :: body" th:remove="tag"/>
    </div>
</div>
<!-- General JS Scripts -->
<script src="/static/js/app.min.js"></script>

<script src="/static/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<!-- JS Libraies -->
<script src="/static/bundles/apexcharts/apexcharts.min.js"></script>
<!-- Page Specific JS File -->
<script src="/static/js/page/index.js"></script>

<!-- Page Specific JS File -->
<script src="/static/bundles/datatables/tables/js/jquery.dataTables.min.js"></script>
<script src="/static/bundles/datatables/tables/js/jquery.spring-friendly.js"></script>
<script src="/static/bundles/datatables/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/static/bundles/datatables/tables/js/datatable-init/datatable-basic.min.js"></script>


<!-- Template JS File -->
<script src="/static/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="/static/js/custom.js"></script>


<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var ajaxRequestLink = [[${url_ajax}]];
    var deleteLink = [[${url_delete}]];
    var labelView = [[#{action.view}]];

    $(document).ready(function () {
        $(".colorpickerinput").colorpicker({
            format: 'hex',
            component: '.input-group-append',
        });

        console.log(ajaxRequestLink);
        $('#datatable').DataTable({
            "language": {
                url: "/lang"

            },
            "ajax": ajaxRequestLink,
            "serverSide": true,
            "searching": true,
            "columns": [
                {
                    "data": "id",
                    className: "text-center",
                    "fnCreatedCell": function (data, type, row, meta) {
                        var actionsField = ' <a href="' + [[${url_view}]] + '/' + row.id + '" class="link" >'+ row.name+'</a>';
                        $(data).html(actionsField);
                    }, orderable: true
                },
                {"data": "code", className: "text-center"},
                {"data": "category", className: "text-center"},
                {
                    "data": "id",
                    "className": "text-center",
                    "fnCreatedCell": function (data, type, row, meta) {
                        var actionsField = '<a href="' + [[${url_view}]] + '/' + row.id + '"  class="btn btn-custon-rounded-two btn-primary btn-xs" data-toggle="tooltip" data-original-title="Ko`rish"><i class="fa fa-2x fa-eye"></i></a>';
                        actionsField += ' <a href="' + [[${url_edit}]] + '/' + row.id + '" class="btn btn-custon-rounded-two btn-info btn-xs" data-toggle="tooltip" data-original-title="Tahrirlash"><i class="fa fa-2x fa-pencil"></i></a>';
                        // actionsField += ' <a href="#" class="btn btn-custon-rounded-two btn-danger btn-xs" data-toggle="tooltip" data-original-title="O`chirish" onclick="deleteItem(' + row.id + ')" ><i class="fa fa-2x fa-trash"></i></a>';
                        $(data).html(actionsField);
                    }, orderable: false, searchable: false
                }
            ],
            "drawCallback": function (settings) {
                $('[data-toggle="tooltip"]').tooltip();
            }
        });
    });

    /*]]>*/
</script>
</body>

</html>